  <div id="footer">
    <ul class="container inline">
      <li><a href="/about/" data-nonpushstate>About ScraperWiki</a></li>
      <li><a href="/pricing/">Pricing</a></li>
      <li><a href="/contact/" data-nonpushstate>Contact Us</a></li>
      <li><a href="/terms/">Terms &amp; Conditions</a></li>
      <li class="pull-right"><a href="https://github.com/scraperwiki/custard/blob/master/LICENCE" title="AGPL License">Open Source</a></li>
    </ul>
  </div>
  <script type="text/javascript">
    _gaq = [ ['_setAccount', 'UA-21451224-7'], ['_setDomainName', 'scraperwiki.com'], ['_trackPageview'] ]
    if(window.custardEnvironment == 'production'){
      (function(){
        var g = document.createElement('script'),
            s = document.getElementsByTagName('script')[0]
        g.src = '//www.google-analytics.com/ga.js'
        s.parentNode.insertBefore(g, s)
      })()
    } else {
      console.log('Google Analytics disabled in development environment')
    }
  </script>
</body>
</html>
