  <div id="footer">
    <ul class="container inline">
      <li><a href="https://scraperwiki.com/about">About ScraperWiki</a></li>
      <li><a href="/contact/">Contact Us</a></li>
      <li><a href="/terms/">Terms &amp; Conditions</a></li>
      <li class="pull-right"><a href="https://github.com/scraperwiki/custard/blob/master/LICENCE" title="AGPL License">Open Source</a></li>
    </ul>
  </div>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21451224-7']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>