<section id="datasets" class="metro-section one column">
    <h2>Datasets <a class="more" href="#">Link</a></h2>
    <div class="metro-tile">
        <h3></h3>
    </div>
</section>
<section id="tools" class="metro-section one column">
    <h2>Your Tools</h2>
    <div class="metro-tile">
        <h3>Tile Title</h3>
    </div>
    <div class="metro-tile">
        <h3>Tile Title</h3>
    </div>
</section>
<section id="recommended" class="metro-section two columns">
    <h2>Recommended <a class="more" href="#">Link</a></h2>
    <div class="metro-tile">
        <h3>Tile Title</h3>
        <strong class="badge">&pound;5</strong>
    </div>
    <div class="metro-tile">
        <h3>Tile Title</h3>
        <strong class="badge">&pound;10</strong>
    </div>
    <div class="metro-tile">
        <h3>Tile Title</h3>
        <strong class="badge">&pound;5</strong>
    </div>
</section>
