<section id="datasets" class="metro-section one column">
    <h2>Your Datasets</h2>
</section>
<section id="tools" class="metro-section two columns">
    <h2>Your Tools <a class="more" href="#">Buy more<i class="icon-chevron-right"></i></a></h2>
</section>
<section id="recommended" class="metro-section two columns">
    <h2>Recommended <a class="more" href="#">See more<i class="icon-chevron-right"></i></a></h2>
    <div class="metro-tile">
        <h3>Tile Title</h3>
        <strong class="badge">&pound;5</strong>
    </div>
    <div class="metro-tile">
        <h3>Tile Title</h3>
        <strong class="badge">&pound;10</strong>
    </div>
    <div class="metro-tile">
        <h3>Tile Title</h3>
        <strong class="badge">&pound;5</strong>
    </div>
</section>
