<!doctype html>
<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>ScraperWiki</title>
    <meta name="description" content="">
    <meta name="author" content="ScraperWiki Ltd">
    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/style/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/style/metro.bootstrap.css">
    <link rel="stylesheet" href="/style/custard.css">
    <!--[if (lt IE 9) & (!IEMobile)]> <script src="vendor/js/selectivizr-min.js"></script> <![endif]-->
    <script src="/vendor/js/modernizr.custom.2.6.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.2/jquery.cookie.js"></script>
    <script src="/vendor/js/bootstrap.min.js"></script>
    <script src="/vendor/js/320andup.helper.js"></script>
    <script src="/vendor/js/underscore.js"></script>
    <script src="/vendor/js/backbone.js"></script>
    <script>
      window.user = <%- user %>
      window.boxServer = "<%- boxServer %>"
    </script>
    <%- templates %>
    <%- scripts %>

    <meta http-equiv="cleartype" content="on">
</head>
<body>
    <header id="header">
        <h1><a id="logo" href="#sidebar">ScraperWiki</a></h1>
    </header>
    <nav id="nav">
    </nav>
    <div id="title">
    </div>
    <div id="content">
    </div>
</body>
</html>
