<% include base_header.html %>

    <div id="content" class="login-page">

        <form action="/login" method="post">
          <h2>Log into ScraperWiki</h2>
          <% if (errors.length) { %>
          <div id="error" class="alert alert-error">
            <% if (errors[0] == 'No such user') { %>
              <strong>That user does not exist.</strong>
            <% } else { %>
              <strong><%= errors[0] %></strong>
            <% } %>
          </div>
          <% } %>
          <p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" tabindex="1" autocorrect="off" autocapitalize="off" />
          </p>
          <p>
            <label for="password">Password: <a class="pull-right muted" id="forgotten-password" href="/set-password/">Forgotten?</a></label>
            <input type="password" id="password" name="password" tabindex="2" />
          </p>
          <p class="last">
            <button type="submit" id="login" class="btn btn-primary">
              <i class="icon-ok space"></i> Log In
            </button>
            <a class="btn btn-link" href="/pricing/">or Sign up</a>
            <!-- preload the spinner icon by hiding it off screen -->
            <img src="/image/loader-btn-primary.gif" width="16" height="16" style="position: absolute; left: -4000px;">
          </p>
        </form>

    </div>
    <script>
      $('#username').focus()
      $('#content form').on('submit', function(){
          $('#login').addClass('loading').html('Logging In&hellip;')
      })
    </script>

<% include base_footer.html %>
