<% include base_header.html %>
    <div id="subnav" class="container">
      <div class="subnav-wrapper">
        <div class="btn-toolbar" id="subnav-path">
          <h1 class="btn-group">
            <a class="btn btn-link" href="/login">Log in</a>
          </h1>
        </div>
      </div>
    </div>

    <div id="content" class="container">
      <div class="login-page">
        <% if (errors.length > 0) { %>
        <div id="error" class="alert alert-error">
          <strong><%=errors %></strong>
        </div>
        <% } %>
        <form action="/login" method="post">
          <p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"/>
          </p>
          <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/>
          </p>
          <p>
            <button type="submit" id="login" class="btn btn-primary">
              <i class="icon-ok space"></i> Log In
            </button>
            <a class="btn btn-link" href="/pricing/">or Sign up</a>
            <!-- preload the spinner icon by hiding it off screen -->
            <img src="/image/loader-btn-primary.png" width="16" height="16" style="position: absolute; left: -4000px;">
          </p>
        </form>
      </div>
    </div>
    <script>
      $('#username').focus()
      $('#content form').on('submit', function(){
          $('#login').addClass('loading').html('Logging In&hellip;')
      })
    </script>

<% include base_footer.html %>
