<% include base_header.html %>
    <div id="subnav" class="container">
      <div class="subnav-wrapper">
        <div class="btn-toolbar" id="subnav-path">
          <h1 class="btn-group">
            <a class="btn btn-link" href="/login">Log in</a>
          </h1>
        </div>
      </div>
    </div>

    <div id="content" class="container">
      <div class="login-page">

        <form action="/login" method="post" class="new-login">
          <h2>New ScraperWiki</h2>
          <% if (errors.length) { %>
          <div id="error" class="alert alert-error">
            <% if (errors[0] == 'No such user') { %>
              <strong>That user does not exist.</strong> Did you mean to <a href="https://classic.scraperwiki.com">log into ScraperWiki Classic</a>?
            <% } else { %>
              <strong><%= errors[0] %></strong>
            <% } %>
          </div>
          <% } %>
          <p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" tabindex="1" />
          </p>
          <p>
            <label for="password">Password: <a class="pull-right muted" id="forgotten-password" href="/set-password/">Forgotten?</a></label>
            <input type="password" id="password" name="password" tabindex="2" />
          </p>
          <p>
            <button type="submit" id="login" class="btn btn-primary">
              <i class="icon-ok space"></i> Log In
            </button>
            <a class="btn btn-link" href="/pricing/">or Sign up</a>
            <!-- preload the spinner icon by hiding it off screen -->
            <img src="/image/loader-btn-primary.png" width="16" height="16" style="position: absolute; left: -4000px;">
          </p>
        </form>

        <div class="classic-login">
          <h2>ScraperWiki Classic</h2>
          <p>If you don&rsquo;t yet have an account on the new ScraperWiki, click here to access all your old scrapers on ScraperWiki Classic.</p>
          <a class="btn" href="https://classic.scraperwiki.com">Log into Classic <i class="icon-arrow-right"></i></a>
        </div>

      </div>

      <span class="clear"></span>

    </div>
    <script>
      $('#username').focus()
      $('#content form').on('submit', function(){
          $('#login').addClass('loading').html('Logging In&hellip;')
      })
    </script>

<% include base_footer.html %>
