<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hmmm… Something’s not right.</title>
  <meta name="author" content="ScraperWiki Ltd">
  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="cleartype" content="on">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/vendor/style/bootstrap.min.css">
  <link rel="stylesheet" href="/style/scraperwiki.css">
  <style>
  body {
    text-align: center;
    background-color: #f6f6f6;
    padding: 0;
  }
  img {
    margin: 80px 0 10px 0;
  }
  .btn {
    color: #666;
  }
  .btn:hover {
    color: #000;
  }
  .btn i {
    opacity: 0.5;
    margin-right: 5px;
  }
  .btn:hover i {
    opacity: 0.7;
  }
  </style>
</head>
<body>
    <a href="/"><img src="/image/tractor-500x320.png" width="250" height="160"></a>
    <h1>Hmmm… Not found.</h1>
    <p class="lead">The ScraperWiki digger can&rsquo;t find that page.</p>
    <p>
      <a href="/" class="btn btn-link"><i class="icon-home"></i>Go to the homepage</a>
    </p>
</body>
</html>
