html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

#content p.loading {
    margin-top: 100px;
    padding-top: 50px;
    text-align: center;
    background: transparent url('/image/tool-loader.gif') center top no-repeat;
    color: #666;
    font-size: 20px;
}

#fullscreen {
    width: 100%;
    height: 600px;
}

#fullscreen iframe {
    border: none;
    width: 100%;
    height: 100%;
}

div.login-page,
div.create-profile,
div.set-password,
div.fourohfour {}

.docs {
    position: relative;
    padding-right: 300px;
    line-height: 24px; /* the default 21px is a bit tight for so much text */
}

.docs nav.well {
    position: fixed;
    top: 100px; /* this needs be changed!! */
    right: 20px;
    width: 238px;
    padding: 8px 0;
    margin-bottom: 0;
}

.docs nav.well a {
    font-size: 14px;
}

.docs .well {
    margin-bottom: 15px;
}

.docs .well .label {
    vertical-align: 2px;
    margin: 0 5px 0 2px;
}

.docs h3 {
    margin-top: 20px;
}