html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 50px;
    border-bottom: 1px solid #ccc;
    background: #f1f1f1 url(/image/noise-f1f1f1.gif) 0 0 repeat;
}

#header h1 {
    margin: 0;
}

#header h1 a {
    float: left;
    overflow: hidden;
    padding-top: 50px;
    height: 0;
    width: 190px;
    background: transparent url(/image/logo-f1f1f1.gif) 10px 10px no-repeat;
}

#toggle-sitelinks,
#toggle-userlinks {
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 46px;
}

#header a.active {
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    margin: 0 -1px -1px -1px;
}

#sitelinks .user {
    display: none;
}

#nav {
    padding-top: 51px;
}

#sidebar,
#sitelinks,
#userlinks {
    display: none;
    list-style: none;
    margin: 0;
}

#sidebar.open,
#sitelinks.open,
#userlinks.open {
    display: block;
}

#sidebar a,
#sitelinks a,
#userlinks a,
#sidebar label {
    display: block;
    padding: 9px 10px;
}

#sidebar a,
#sitelinks a,
#sidebar label {
    color: #666;
    text-shadow: 0 1px 0 #fff;
}

#sidebar a:hover,
#sitelinks a:hover,
#userlinks a:hover {
    text-decoration: none;
}

#sidebar a:hover,
#sitelinks a:hover,
#sidebar label:hover {
    color: #333;
}

#sidebar a,
#sidebar label {
    padding: 9px 15px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#sidebar a img,
#sidebar label img {
    vertical-align: top;
    margin: 0 10px 0 0;
}

#sidebar input {
    margin: 0;
    vertical-align: 1px;
    width: 170px;
}

#userlinks i {
    margin-right: 8px;
}

#sitelinks .user img,
#toggle-userlinks img,
#toggle-sitelinks img {
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
}

#sitelinks .user img {
    vertical-align: top;
    margin: 0 0 0 5px;
}

.dropdown-menu li.header {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    padding: 5px 10px;
}

#userlinks li.context img {
    margin-right: 5px;
}

#userlinks i.icon-ok {
    text-indent: -9000px;
    float: right;
    margin-top: 3px;
}

#userlinks li.last {
    margin-top: 10px;
    padding: 10px 10px 5px 10px;
    border-top: 1px solid #ccc;
}

#userlinks .btn-primary {
    margin-left: 5px;
}

#toggle-sidebar-width {
    display: none;
}

#title {
    padding: 9px 10px 12px 15px;
    border-bottom: 1px solid #e5e5e5;
}

#title h2 {
    font-size: 21px;
    margin: 0;
}

#title h2 a {
    color: #000;
}

#title h2 .slash {
    margin: 0 3px;
    color: #999;
}

#title h2 input {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: inherit;
    font-size: inherit;
    line-height: 30px;
    vertical-align: 0;
    padding: 0 5px;
    margin: -2px 0 -2px -6px;
    width: 260px;
    height: 30px;
    color: #000;
}

#title h2 .editable {
    cursor: pointer;
    padding-right: 10px;
}

#title h2 .editable:hover {
    text-decoration: underline;
    padding-right: 0;
}

#title h2 .editable:hover:after,
#title h2 .editable.saved:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent url("../vendor/image/glyphicons-halflings.png") 0 -72px no-repeat;
    margin-left: 5px;
}

#title h2 .editable.saved:after {
    background-position: -288px 0;
}

.dataset-group,
.my-tools .tool {
    width: 280px;
    margin: 15px 0 0 20px;
    float: left;
}

.dataset-overview > div {
    width: 280px;
    padding: 15px 20px;
    float: left;
}

.dataset,
.view {
    padding: 10px 10px 5px 10px;
    background-color: #358ce0;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 1px #176dc2;
    background-image: url(/image/watermark-dataset.png);
    background-position: 97% 100%;
    background-repeat: no-repeat;
}

.view {
    background-image: none;
}

.view.spreadsheet {
    background-image: url(/image/watermark-spreadsheet.png);
}

.view.csvdownload {
    background-image: url(/image/watermark-download.png);
}

.view.newdataset {
    background-image: url(/image/watermark-viewsource.png);
}

.dataset:hover,
.view:hover {
    background-color: #176dc2;
    color: #fff;
}

a.view {
    padding-bottom: 10px;
}

.dataset h3,
.view h3 {
    margin: 0 0 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dataset h3 a,
.view h3 a {
    color: inherit;
    text-decoration: none;
}

.dataset p,
.view p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dataset p i,
.view p i {
    opacity: 0.7;
}

.view {
    display: block;
    margin-top: 1px;
    background-color: #5baeff;
    color: #fff;
    text-shadow: 0 1px 1px #176dc2;
    cursor: pointer;
    font-size: 18px;
    line-height: 21px;
}

a.view {
    font-weight: bold;
}

.view:hover {
    background-color: #358ce0;
    text-decoration: none;
}

.dataset-overview h4 {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: rgb(153, 153, 153);
    font-weight: normal;
    margin: 0 0 15px 0;
}

.dataset-overview .dataset h3 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
}

.dataset-overview .view,
.dataset-overview .tool {
    margin-bottom: 15px;
}

.dataset-overview .dataset-description {
    margin-top: 15px;
}

.tool {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.tool:hover {
    background-color: #ddd;
    border-color: #bbb;
}

.tool h3 {
    margin: 0 0 5px 0;
    font-weight: normal;
}

.tool h3 a,
.tool h3 a:hover {
    color: #666;
    text-decoration: none;
}

.tool p {
    color: #999;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

#content p.loading {
    margin-top: 100px;
    padding-top: 50px;
    text-align: center;
    background: transparent url('/image/tool-loader.gif') center top no-repeat;
    color: #666;
    font-size: 20px;
}

#fullscreen {
    width: 100%;
    height: 600px;
}

#fullscreen iframe {
    border: none;
    width: 100%;
    height: 100%;
}

div.login-page,
div.create-profile {
    margin: 15px 20px;
}


@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (max-width: 767px) {

    #userlinks {
        position: static;
        top: auto;
        left: auto;
        float: none;
        min-width: none;
        padding: 0;
        margin: 0;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #sidebar,
    #sitelinks,
    #userlinks {
        -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.3);
        box-shadow: 0 2px 15px rgba(0,0,0,0.3);
    }

    #sidebar li,
    #sitelinks li,
    #userlinks li {
        border-bottom: 1px solid #e5e5e5;
    }

    #sidebar li.divider {
        border-bottom: none;
    }

    #userlinks > li > a {
        color: #666;
    }

    #userlinks > li > a:hover {
        color: #fff;
    }

    #userlinks .divider {
        display: none;
    }

    #userlinks li.last {
        margin-top: 0;
        padding: 10px;
        border-top: none;
        text-align: right;
    }

}

@media only screen and (min-width: 768px) {

    #content {
        position: relative;
        padding: 51px 0 0 191px;
    }

    .thin-sidebar #content {
        padding-left: 62px;
    }

    #fullscreen {
        position: fixed;
        top: 51px;
        right: 0;
        bottom: 0;
        left: 191px;
        z-index: 90;
        width: auto;
        height: auto;
    }

    .thin-sidebar #fullscreen {
        left: 62px;
    }

    #header {
        background: transparent;
    }

    #header h1 {
        float: none;
        width: 190px;
        height: 50px;
        background: #f1f1f1 url(/image/noise-f1f1f1.gif) 0 0 repeat;
    }

    #header h1 a {
        border-right: 1px solid #ccc;
    }

    #header h1 a:hover,
    #header h1 a.active:hover {
        background-color: #eaeaea;
        background-color: rgba(0,0,0,0.02);
    }

    #header h1 a:active,
    #header h1 a.active:active {
        background-position: 10px 11px;
    }

    #header h1 a.active {
        background-color: transparent;
        border-bottom: none;
        border-right: 1px solid #ccc;
    }

    .thin-sidebar #header h1 {
        width: 62px;
    }

    .thin-sidebar #header h1 a {
        width: 62px;
        background-image: url(/image/logo-f1f1f1-thin.gif);
    }

    #toggle-sitelinks,
    #toggle-userlinks {
        display: none;
    }

    #nav {
        position: fixed;
        top: 0;
        left: 191px;
        right: 0;
        z-index: 101;
        padding-top: 0;
        background-color: #fff;
    }

    .thin-sidebar #nav {
        left: 63px;
    }

    #sidebar {
        display: block;
        position: fixed;
        top: 51px;
        left: 0;
        bottom: 0;
        width: 190px;
        padding-top: 5px;
        border-right: 1px solid rgb(204, 204, 204);
        background: #f1f1f1 url(/image/noise-f1f1f1.gif) 0 0 repeat;
    }

    .thin-sidebar #sidebar {
        width: 62px;
    }

    #sidebar li {
        margin: 2px 0;
    }

    #sidebar a,
    #sidebar label {
        padding: 7px 9px;
        margin: 0 6px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #sidebar a.active,
    #sidebar label.active {
        padding: 6px 8px;
        background: #f6f6f6;
        border: 1px solid #ddd;
    }

    #sidebar a:hover,
    #sidebar a.active:hover,
    #sidebar label:hover  {
        padding: 6px 8px;
        background-color: #fcfcfc;
        border: 1px solid #ddd;
    }

    #sidebar input {
        width: 98px;
    }

    #sidebar li.divider {
        margin: 5px 0;
        border-bottom: 1px solid #ccc;
    }

    #sidebar li.secondary a {
        color: #999;
    }

    #sidebar .tooltip {
        font-size: 14px;
        white-space: nowrap;
    }

    #sidebar .tooltip.in {
        opacity: 0.99;
        filter: alpha(opacity=100);
    }

    .thin-sidebar #sidebar a span {
        display: none;
    }

    .thin-sidebar #sidebar a img {
        margin-right: 0;
    }

    #sitelinks {
        display: block;
        text-align: right;
    }

    #sitelinks li {
        display: inline-block;
    }

    #sitelinks a {
        display: inline-block;
        line-height: 32px;
    }

    #sitelinks .user {
        display: inline;
    }

    #sitelinks .user .caret {
        margin-left: 2px;
        vertical-align: 10%;
        border-top-color: #999;
    }

    #userlinks {
        left: auto;
        right: 20px;
        top: 40px;
    }

    #userlinks a {
        padding: 5px 15px;
        font-size: 14px;
    }

    #userlinks .dropdown-tail-outline {
        left: auto;
        right: 27px;
    }

    #userlinks .dropdown-tail {
        left: auto;
        right: 28px;
    }

    .dropdown-menu li.header {
        padding: 5px 15px;
    }

    #toggle-sidebar-width {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: #999;
        padding: 5px 10px 5px 5px;
        text-shadow: 0 1px 0 #fff;
        line-height: 32px;
        height: 32px;
        text-align: right;
        cursor: w-resize;
    }

    .thin-sidebar #toggle-sidebar-width {
        cursor: e-resize;
        text-align: center;
        padding-right: 5px;
    }

    #toggle-sidebar-width .bar {
        margin-left: 1px;
    }

    #toggle-sidebar-width span {
        float: left;
        margin-left: 10px;
    }

    #toggle-sidebar-width span,
    .thin-sidebar #toggle-sidebar-width span,
    .thin-sidebar #toggle-sidebar-width:hover span {
        display: none;
    }

    #toggle-sidebar-width:hover span {
        display: inline;
        margin-right: 5px;
    }

    #title {
        position: fixed;
        top: 0;
        left: 190px;
        z-index: 101;
        padding: 0 0 0 20px;
        border-bottom: none;
    }

    .thin-sidebar #title {
        left: 62px;
    }

    #title h2 {
        line-height: 50px;
    }

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1382px) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

}
